.footer {
    background-color: black;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    z-index: 1000;
}

.footer span {
    display: block;
}

.footer span a {
    display: block;
}

.footer .footerDetails,
.footer .footerPhone,
.footer .footerEmail,
.footer .footerLocation {
    text-align: center;
    color: var(--secondary);
    font-size: var(--small);
    text-decoration: none;
    color: var(--footer-text-color);
    justify-self: center;
}

.footer .footerText {
    margin: 0;
    width: 75%;
    justify-self: center;
    color: var(--secondary);
    font-size: var(--small);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-items: space-between;
    align-items: center;
}

@media (max-width: 1065px) {
    .footer .footerText {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .footer .footerLocation,
    .footer .footerDetails {
        display: none;
    }

    .footer .footerPhone,
    .footer .footerEmail {
        margin: 8px auto;
    }
}
