.footer {
    background-color: black;
}
.footer span {
    display: block;
}

.footer span a {
    display: block;
}
.footerDetails,
.footerPhone,
.footerEmail,
.footerLocation {
    text-align: center;
    color: var(--secondary);
    font-size: var(--small);
    margin: 20px;
    text-decoration: none;
    color: var(--footer-text-color);
}
.footerDetails {
    justify-self: start;
}
.footerLocation {
    justify-self: end;
}

.footerText {
    margin: 0;
    width: 75%;
    justify-self: center;

    color: var(--secondary);
    font-size: var(--small);
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-items: space-between;
}

@media (max-width: 1065px) {
    .footerText {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
    }

    .footerLocation {
        justify-self: end;
    }

    .footerDetails,
    .footerPhone,
    .footerEmail,
    .footerLocation {
        margin: 8px auto;
    }
}

@media (max-width: 550px) {
    .footerText {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto auto auto auto;
    }

    .footerLocation {
        justify-self: center;
    }

    .footerDetails,
    .footerPhone,
    .footerEmail,
    .footerLocation {
        margin: 5px auto;
    }
}
