.skillName {
    color: var(--secondary);
    font-size: var(--small);
    margin-top: 10px;
}
.bar {
    display: block;
    margin-top: 5px;
    /* height: 2px; */
    border-radius: 2px;
    /* background: var(--primary); */

    border-bottom: 3px solid var(--primary);
}
