.hWithLine {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: var(--small);
}
.line {
    display: block;
    height: 2px;
    width: 20px;
    border-bottom: 3px solid var(--primary);
}

@media print {
    .line {
        border-bottom: 2px solid var(--primary);
    }
}
