.container {
    max-width: 1000px;
    margin: 80px auto 0 auto;
    background: var(--background);
    padding: 30px;
    box-shadow: 0 2px 4px var(--shadow);
}

.titleName {
    width: fit-content;
    color: var(--primary);
    font-size: var(--big);
    margin: 0;
    z-index: 2;
}

.titleName.invert {
    color: #fff;
    z-index: 10;
    position: relative;
    transition:
        color 0.2s,
        background 0.2s;
}
.invert.visible {
    position: sticky;
    top: 10px;
    opacity: 0;
}

.titleProffile {
    color: var(--secondary);
    font-size: var(--small);
}
.divider {
    margin: 30px 0 0 0;
    border-bottom: 4px solid var(--divider);
}
.content {
    display: grid;
    grid-template-columns: minmax(100px, 320px) auto;
}
.mainContent {
    border-left: 4px solid var(--divider);
    padding: 0 30px 0 15px;
}

.regularText.profileText {
    margin-top: 30px;
    color: var(--secondary);
    font-size: var(--small);
}

.regularText {
    margin-top: 10px;
    color: var(--secondary);
    font-size: var(--small);
}
.educationBlock {
    display: grid;
    grid-template-columns: minmax(140px, 400px);
}

@media (max-width: 520px) {
    .container {
        padding: 10px;
    }
    .mainContent {
        padding: 0 10px 0 5px;
    }
}

@media print {
    .header {
        display: none !important;
        margin-top: 0;
    }

    .container {
        box-shadow: none !important;
        padding: 0 !important;
    }
    body {
        background: #fff !important;
    }
    .divider {
        border-bottom: 4px solid #a4a4a4a4 !important;
    }
    .mainContent {
        border-left: 4px solid #a4a4a4a4 !important;
        padding: 0 0 0 15px !important;
    }

    .content {
        grid-template-columns: 280px auto;
    }
    a {
        color: var(--primary) !important;
        text-decoration: none !important;
    }
}
